:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Humana';
    src: local("Humana"), url("/fonts/humana/verahumana95.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Humana';
    src: local("Humana"), url("/fonts/humana/verahumana95bold.ttf");
    font-weight: 600;
}

* {
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body, h1, h2, p {
    margin: 0;
}

h2 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    color: #61674d;
    text-align: center;
    font-size: 72px;
}

button {
    border: none;
    color: #d9d9d9;
    padding: 14px 60px;
    cursor: pointer;
    background-color: #6d1b24;
    border-radius: 6px;
}

button:hover {
    background-color: #5b1119;
}


form {
    position: relative;
    z-index: 100;
    max-width: 400px;
    font-family: "Humana", serif;
    font-weight: 400;
    font-style: normal;
    color: #61674d;
    display: flex;
    flex-direction: column;
}

form button {
    align-self: center;
}

input {
    background: transparent;
    border: 1px solid #61674d;
    padding: 12px 10px;
    border-radius: 6px;
    outline: none;
    color: #61674d;
    font-size: 18px;
}

input:focus {
    border-color: rgb(94, 113, 157);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #61674d;
    transition: none;
    box-shadow: none;
}


input[type=radio], input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}

form, .form-group p {
    font-size: 20px;
}

section {
    background-color: #fff;
}
.form-group-row {
    display: flex;
    align-items: center;
    position: relative;
    height: 22px;
    margin-bottom: 6px;
    width: min-content;
    white-space: nowrap;
}

.form-group-row label {
    cursor: pointer;
    margin-left: 30px;
    line-height: 1;
}

.form-group-row label {
    font-size: 16px;
}

.custom-check {
    position: absolute;
    cursor: pointer;
    bottom: 2px;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: transparent;
    border-radius: 2px;
    transition: all 0.3s;
    border: 1px solid #61674d;
}

.custom-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #61674d;
    border-radius: 50%;
}

.custom-radio:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-check:after {
    content: "";
    position: absolute;
    display: none;
}

.form-group-row input:checked ~ .custom-check:after {
    display: block;
}

.form-group-row input:checked ~ .custom-radio:after {
    display: block;
}

.form-group-row .custom-radio:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #61674d;
}

.form-group-row .custom-check:after {
    left: 8px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid #61674d;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 1px;
}

.form-group-row:hover input ~ .custom-check {
    background-color: rgba(97, 103, 77, 0.22);
}

/* When the checkbox is checked, add a blue background */
.form-group-row input:checked ~ .custom-check {
    background-color: rgba(97, 103, 77, 0.22);
}

.form-group-row:hover input ~ .custom-radio {
    background-color: rgba(97, 103, 77, 0.22);
}

/* When the checkbox is checked, add a blue background */
.form-group-row input:checked ~ .custom-radio {
    background-color: rgba(97, 103, 77, 0.22);
}

.form-accept,
.form-drink,
.form-food,
.form-group {
    margin-bottom: 12px;
}

.form-accept {
    margin-top: 10px;
}


.form-drink p,
.form-food p {
    margin-bottom: 4px;
}

.section-head {
    position: relative;
    background-color: #6d1b24;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

}

.section-head-bg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/img/main-img.jpg');
    font-family: "Great Vibes", cursive;
    padding: 50px 0;
    height: calc(100% - 50px);
    border: 3px solid #000;
    max-width: 650px;
    width: calc(100% - 50px);
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.37));
}


.section-head-bg p {
    color: #e0e0e0;
    word-break: break-all;
    white-space: pre-wrap;
    text-align: center;
    font-size: 82px;
}



.section-head-who {
    margin-bottom: 6px;
    text-align: center;
}

.section-head-who span {
    margin: 0 20px;
}

.section-head-who span {

}

.section-dear-guest {
    position: relative;
    width: 100%;
    min-height: 760px;
}

.section-head-content {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.section-dear-guest-main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 580px;
    margin-bottom: 250px;
}


.section-dear-guest-main-text-body {
    font-family: "Humana", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
    color: #941924;
    text-align: center;
}

.section-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: opacity(0.55);
}

.section-dear-guest-house-is {
    width: 400px;
    margin: 16px 16px 120px 0;
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: #61674d;
    text-align: right;
    align-self: flex-end;
}

.section-dear-guest-cake {
    position: absolute;
    right: 0;
    bottom: 0;
}

#ring-grape {
    z-index: 90;
    position: absolute;
    top: -40%;
    left: 0;
    object-fit: cover;
    height: 40%;
}

.section-place {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #61674d;
    padding: 50px 100px;
}

.section-place-address {
    font-family: "Humana", serif;
    max-width: 200px;
    text-align: center;
    color: #e7e7e7;
}

.section-place-images {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}
.section-place-images img {
    width: 220px;
    height: 300px;
    object-fit: cover;
    border: 2px solid #000;
    border-radius: 4px;
}


.section-place-title {
    color: #d9d9d9;
}


.section-datetime {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}

.section-datetime-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-datetime-schedule {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.section-datetime-schedule p {
    width: 100%;
    font-family: "Humana", serif;
    font-weight: 500;
    color: #5b1119;
    font-size: 24px;
    text-align: center;
}

.section-datetime-schedule > p {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.schedule-item {
    position: relative;
    display: flex;
    align-items: center;
}

.schedule-hr {
    background-color: #5b1119;
    height: 1px;
    margin: 18px 0;
}

.title-schedule {
    margin: 0 10px 70px 10px;
}

.section-datetime-title-bottom {
    display: flex;
}

.section-feedback {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}


.section-feedback-title {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
    color: #61674d;
    text-align: center;
    line-height: 1;
    margin-bottom: 24px;
}

.section-feedback-subtitle {
    font-family: "Humana", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #61674d;
    text-align: center;
    max-width: 500px;
    margin-bottom: 40px;
}


.section-dress {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #5b1119;
    padding: 50px 20px;
}

.section-dress h2 {
    margin-bottom: 40px;
    color: #d9d9d9;
}

.section-dress-subtitle {
    max-width: 400px;
    text-align: center;
    font-family: "Humana", serif;
    font-weight: 300;
    font-size: 18px;
    color: #d9d9d9;
    margin-bottom: 24px;
}

.section-dress-subtitle p:first-of-type {
    margin-bottom: 40px;
}

.dress-main-container {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.appearance {
    transition: opacity 1s;
    opacity: 0;
}

.appearance.show {
    opacity: 1;
}

.dress-item {
    max-width: 400px;
    text-align: center;
    font-family: "Humana", serif;
    font-weight: 300;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d9d9d9;
}

.dress-item > img {
    width: 400px;
    height: 650px;
    object-fit: cover;
    border-radius: 4px;
    border: 2px solid #000;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.37));
}

.dress-item > p:first-of-type {
    font-family: "Great Vibes", cursive;
    font-size: 52px;
}

.section-wish {
    position: relative;
    width: 100%;
}

.section-wish-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}

.section-wish-main {
    max-width: 480px;
    text-align: center;
    font-family: "Humana", serif;
    margin-bottom: 24px;
    font-size: 20px;
    z-index: 100;
}

.section-wish-contact {
    z-index: 100;
    font-size: 20px;
    max-width: 480px;
    text-align: center;
    font-family: "Humana", serif;
}

.section-bg-photo {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: -1;
    height: 400px;
}

.bg-photo {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/img/personal_photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dialog {
    display: none;
    padding: 20px;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: #fff;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog.open {
    display: flex;
}

.dialog p {
    text-align: center;
    font-size: 18px;
    font-family: "Humana", serif;
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    h2 {
        font-size: 50px;
    }
    .section-head-bg p {
        font-size: 64px;
    }

    .section-head-bg {
        width: 100%;
        height: 100%;
    }

    .section-dear-guest-house-is {
        font-size: 24px;
        margin: 8px 8px 60px 0;
        width: 250px;
    }
    .section-dear-guest-main-text {
        margin-bottom: 50px;
        max-width: 300px;
        font-size: 24px;
    }

    .section-dear-guest-main-text-body {
        font-size: 18px;
        margin-bottom: 120px;
    }

    .section-dear-guest-cake {
        width: 300px;
    }

    .section-datetime-schedule {
        width: 300px;
    }

    .dress-item > img {
        width: 300px;
        height: 550px;
    }

    .dress-main-container {
        margin-top: 10px;
    }

    .section-place {
        padding: 20px 30px;
    }

    .section-datetime-schedule > p {
        font-size: 26px;
        margin-bottom: 24px;
    }

    .section-datetime-schedule p {
        font-size: 22px;
    }

    .dress-item > p:first-of-type {
        font-size: 42px;
    }

    .section-dress h2 {
        margin-bottom: 30px;
    }

    .section-dress {
        padding: 20px;
    }
    .section-wish-container {
        padding: 20px;
    }


}

@media (max-width: 450px) {
    h2 {
        font-size: 40px;
    }
    .section-head-bg p {
        font-size: 50px;
    }
    .section-dear-guest-house-is {
        font-size: 20px;
        top: 15px;
        right: 15px;
        width: 50%;
    }

    .section-dear-guest-main-text {
        margin-bottom: 25px;

    }

    .section-dear-guest-main-text-body {
        font-size: 16px;
        margin-bottom: 100px;
    }

    .section-dear-guest {
        min-height: 600px;
    }

    .section-dear-guest-cake {
        width: 200px;
    }

    #ring-grape {
        top: -40%;
        height: 40%;
    }
    .section-datetime-schedule p {
        font-size: 20px;
    }

    .section-datetime-schedule > p {
        font-size: 24px;
        margin-bottom: 22px;
    }

    .dress-item > p:first-of-type {
        font-size: 34px;
    }

    .section-dress h2 {
        margin-bottom: 20px;
    }
}
